
process {

    withName: 'Branch1:Command1Software1:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('X.X')){
                "python:3.11.15-trixie" 
                }
            }
    
        }

    withName: 'Branch2:Command1Software1:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('X.X')){
                "python:3.11.15-trixie" 
                }
            }
    
        }

    withName: 'Branch2:Command2Software2:.*' {
    
        container = {
            if (!task.ext.version || task.ext.version.equals('X.X')){
                "python:3.11.15-trixie" 
                }
            }
    
        }

    ////LEAF_CONFIG////

    }
