
process {

    withName: 'Branch1:Command1Software1:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    withName: 'Branch2:Command1Software1:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    withName: 'Branch2:Command2Software2:.*' {
    
        ext.executable = {
            if (task.ext.version.equals('X.X')){
                "####EXECUTABLE####" 
                }
            }
    
        }

    ////LEAF_CONFIG////

    }
